.body1 {
	color: black;
	width: 100%;
	margin: auto auto;
	padding: 20px 0;
	background: white;
	border-radius: 10px;
	box-shadow: 0 0 8px 2px rgb(224, 224, 240);
	font-family: "Calibri";
	border: 3px solid rgb(224, 224, 240);
}

.body1 h1 {
	margin-left: 20px;
	margin-bottom: 20px;
}

.body1 form {
	margin-left: 20px;
}

.body1 form input[name^="name"] {
	margin-bottom: 5px;
}

.body1 .delete {
	background-color: red;
	color: white;
}

.body1 .check {
	margin: 0 10px;
	text-align: right;
	width: initial;
}

.body1 form * {
	width: calc(100% - 1rem);
}

.body1 form input[type="checkbox"] {
	width: initial;
}