.container {

	max-width: 100vw;

	h1 {

		font-size: 2em;
		border-bottom: 2px solid #eee;
		padding-bottom: .3em;

	}

	h2 {

		font-size: 1.5em;
		border-bottom: 2px solid #eee;
		padding-bottom: .3em;

	}

	h3 {

		font-size: 1.25em;

	}

	h4 {

		font-size: 1em;

	}

	h5 {

		font-size: .875em;

	}

	h6 {

		font-size: .85em;
		color: #777;

	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {

		line-height: 1.25;
		color: #3f3f46;
		font-weight: 700;
		font-family: var(--font-readex-pro);

	}

	p,
	li {

		line-height: 1.75;
		color: #3f3f46;
		font-size: 1em;
		font-family: var(--font-inter);
		font-weight: 400;

	}

	a {

		line-height: 1.75;
		color: #564DFF;
		text-decoration: none;

		&:hover {

			text-decoration: underline;

		}

	}

	details {

		font-size: 1em;
		font-family: var(--font-inter);
		font-weight: 400;
		line-height: 1.75;
		color: #3f3f46;
		margin: 1rem 0;
		padding: 1rem;
		border-radius: 1rem;
		border: 1px solid #aaa;
		overflow: hidden;
		transition: all 0.3s ease-in-out;

		summary {

			font-size: 1.25em;
			font-family: var(--font-readex-pro);
			font-weight: 700;
			line-height: 1.25;
			color: #3f3f46;
			cursor: pointer;

		}

	}

}