.warning {
	color: white;
	background-color: orangered;
	margin: 0;
	width: 440px;
	display: block;
	height: 0;
	transition: all 0.6s ease;
}

.warning ul {
	list-style: none;
}

.warning.show {
	border-radius: 5px;
	padding: 5px 0;
	padding-left: 10px;
	height: initial;
}

.body1 {
	color: white;
	width: 640px;
	margin: auto auto;
	padding: 20px 0;
	background: linear-gradient(90deg, #405060 480px, #102030 480px);
	border-radius: 10px;
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
	font-family: "Calibri";
}

.body1 h1 {
	margin-left: 20px;
	margin-bottom: 20px;
}

.body1 form {
	margin-left: 20px;
}

.body1 form input[name^="name"] {
	margin-bottom: 5px;
}

.period {
	width: 380px;
	margin-right: 0.5em;
	text-align: right;
	appearance: textfield;
	-moz-appearance:textfield;
}

.period::-webkit-outer-spin-button, 
.period::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.body1 .delete {
	background-color: red;
	color: white;
}

.body1 .check {
	margin: 0 10px;
	text-align: right;
	width: initial;
}