@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

div.links {
	position: fixed;
	width: 100%;
	padding-left: 2rem;
	top: 5.5rem;
	height: 2rem;
	background: #192b4d;
	align-items: center;
	display: flex;
	z-index: 100;
}

div.links a {
	padding: 0.2rem 1rem;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

.contest>.tab {
	position: fixed;
	width: 60px;
	height: calc(100vh - 75px);
	background-color: #102030;
	top: 5.5rem;
	left: 0;
}

.contest>.tab ul {
	padding: 0;
}

.contest>.tab .pagenow {
	background-color: #283848;
	color: white;
}

.contest>.tab li {
	height: 40px;
	margin: 12px 0;
	text-align: center;
	color: gray;
	font-size: 10px;
}

.contest>.tab li:hover {
	background: linear-gradient(90deg, #405060 5px, #10203000 5px);
}

@media (max-width: 700px) {

	div.desktop {

		display: none;

	}

}
