.contest_title {
	width: 100%;
	margin: auto;
	border-radius: 5px;
	background-color: #d0e0f0;
	padding: 20px 20px 5px 20px;
	margin-bottom: 0;
}

.contest_title h1 {
	padding: 24px 0;
	font-size: 36pt;
	text-align: center;
}

.contest_title ul {
	display: flex;
	padding: 20px;
	justify-content: center;
	text-align: center;
	font-size: 18pt;
}

.contest_title ul * {
	width: 250px;
	margin: 0 20px;
	padding: 4px 0;
	border-radius: 12px;
	user-select: none;
	cursor: pointer;
	justify-content: center;
}

.contest_title .rated_button {
	background-color: #00a0f0;
	color: white;
	transition: 0.2s;
}

.contest_title .rated_button:hover {
	background-color: #0080b0;
	color: lightgray;
}

.contest_title .rated_button:active {
	background-color: #102030;
	color: white;
}

.contest_title .unrated_button {
	background-color: white;
	color: #000010;
	transition: 0.2s;
}

.contest_title .unrated_button:hover {
	background-color: lightgray;
	color: #000010;
}

.contest_title .unrated_button:active {
	background-color: lightgray;
	color: #102030;
}

.contest_title .cancel_button {
	background-color: #f06060;
	color: white;
	transition: 0.2s;
}

.contest_title .cancel_button:hover {
	background-color: #f0a0a0;
	color: white;
}

.contest_title .cancel_button:active {
	background-color: white;
	color: #ff5050;
}

.description {
	width: 100%;
	margin: 0;
}

.description *{
	margin: 0;
}